.container {
    max-width: 850px;
    margin: 0 auto;
    padding: 2rem 1rem;
    min-height: calc(100vh - 5rem);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 25vh;
}

.subtitle {
    color: var(--ds-color-content-default, #141414);
    text-align: center;
    word-wrap: break-word;
    margin-bottom: 32px;
    font-size: 2.5rem;
    font-weight: 600;
}

